* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Serif', serif;
}

html {
	scroll-behavior: smooth;
}
/*body {
	background-color: #abb7c8;
}
*/.btn {
	background-color: #AD4760;
	text-decoration: none;
	color: #f2f4f8;
}

.btn a {
	text-decoration: none;
	color: #f7f0c7;
}

#port-jumbo {
	padding: 8em 2em;
	border-radius: 10px;
	width: 70%;
	text-align: right;
	right: 5px;
}
.jumbotron #btn {
	background-color: #5c7598;
	text-decoration: none;
	color: #f7f0c7;
}

.imagebox img {
	width: 200px;
	height: 200px;
	text-align: center;
}
#jumbo-div {
	height: 100vh; /*height of the screen*/
	width: 100%;
	padding-top: 10%;
	border-radius: 0;
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(173, 71, 96, 0.4)), url('../images/bg.jpg');

	/*margin-bottom: 0;*/
}
.lead {
	color: white;
	letter-spacing: 2px;
	text-shadow: 1px 1px #000;
	letter-spacing: 5px;

}

.jumbotron h1 {
	color: #f2f2f2;
	font-family: 'Parisienne', cursive;
	letter-spacing: 2px;
	text-shadow: 3px 3px #000;
	font-size: 70px;
	font-weight: bolder;
}
.card {
	height: 700px;
	background-color: #fae8ec;
}
.card img {
	height: 400px;
}

.card p {
	height: 180px;
}

.card p:hover {
	overflow: auto;
}


#about-me {
	background-color: #f8e1e7;
}

#jumbo-div .container {
	text-align: right;
	right: 10px;
	top: 40px;
	float: right;
}

#portfolio {
	background-color: #f8d1e0;
	width: 100%;
	padding: 0;
}

.container h3,
.container-fluid h3 {
	font-family: 'Parisienne', cursive;
}

.footer {
	background-color: #f8d6c6;
}

#myBtn {
        position: fixed;
        bottom: 10px;
        float: right;
        right: 10px;
        width: 50px;
        font-size: 25px;
        background-color: #AD4760;
        color: #451E2F;
        padding: .2px;
        border-radius: 4px;
        opacity: 0.3;
 }

#myBtn:hover {
        opacity: 1;
}







/*media queries*/
/*mobile style*/
@media only screen and (max-width: 400px) {
/*	.section {
		width: 100%;
	}*/

	#jumbo-div {
		height: 100vh;
		text-align: center;
	}

	#port-jumbo {
		margin-top: 5vh;
		padding-top: 5em;
		padding-bottom: 5em;
		width: 90%;
	}

	#port-jumbo .container {
		width: 80%;
	}

	#port-jumbo .btn {
		margin-bottom: 10px;

		width: 170px;
	}
	.jumbotron h1 {
		font-size: 30px;
		width: 100%;
	}

	.jumbotron p {
		font-size: 15px;
		width: 100%;
	}


	#jumbo-div {
		height: 100vh;
	}

	.btn a {
		width: 100%;
		font-size: 15px;
	}

	.card {
		height: 100%;
		width: 100%;
	}

	.card img {
		height: 300px;
	}

	#portfolio {
		padding: 0px;
	}

	#about-me {
		text-align: center;
	}

	h3 {
		font-size: 10px;
	}
}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.section {
		width: 100%;
	}

	#jumbo-div {
		height: 100vh;
	}
	#port-jumbo {
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}

	.card {
		height: 100%;
		width: 100%;
	}

	.card p {
	height: 180px;
	overflow: auto;
	}

	.myself {
		margin-bottom: 10px;
	}

	#about-me {
		text-align: justify;
	}

	#about-me img {
		width: 90%;
	}

}

/*desktop style*/
@media only screen and (min-width: 960px) {

}